In [5]:
import pandas as pd 

pd.DataFrame({"yes":[18,1999] ,"no":[1888,555]})

    yes    no
0    18  1888
1  1999   555

In [6]:
import pandas as pd 

pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.'], "yes":[18,1999] ,"no":[1888,555]})

             Bob           Sue   yes    no
0    I liked it.  Pretty good.    18  1888
1  It was awful.        Bland.  1999   555

In [8]:
import pandas as pd

pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64